<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/style.css" />
		<script defer src="/script.js"></script>
		<title>Hppsrc</title>
		<link rel="icon" href="/imgs/hppsrc_cut.png" />
	</head>
	<body>
		<main>
			<div style="display: inline-flex; align-items: center">
				<img src="/imgs/hppsrc_cut.png" id="image" />
				<h1>Hppsrc | Software Engineer</h1>
			</div>

			<p>
				Software Engineering student with 6+ years of experience in web
				and software development. I am deeply committed to crafting
				high-quality solutions and delivering satisfying, user-centric
				results.
			</p>

			<!-- Frontend -->
			<p>
				<strong>Frontend:</strong>
				<span class="glow E34F26">
					<img class="icon" src="https://cdn.simpleicons.org/html5" />
					HTML5
				</span>
				,
				<span class="glow 663399">
					<img class="icon" src="https://cdn.simpleicons.org/css" />
					CSS3
				</span>
				,
				<span class="glow F7DF1E">
					<img
						class="icon"
						src="https://cdn.simpleicons.org/javascript"
					/>
					JavaScript
				</span>
				,
				<span class="glow 3178C6">
					<img
						class="icon"
						src="https://cdn.simpleicons.org/typescript"
					/>
					TypeScript
				</span>
				,
				<span class="glow 61DAFB">
					<img class="icon" src="https://cdn.simpleicons.org/react" />
					React
				</span>
				,
				<span class="glow 06B6D4">
					<img
						class="icon"
						src="https://cdn.simpleicons.org/tailwindcss"
					/>
					Tailwind
				</span>
				.
			</p>

			<!-- Backend -->
			<p>
				<strong>Backend & Databases:</strong>
				<span class="glow 339933">
					<img
						class="icon"
						src="https://cdn.simpleicons.org/nodedotjs"
					/>
					Node.js
				</span>
				,
				<span class="glow FCF3E5">
					<img
						class="icon"
						src="https://cdn.simpleicons.org/bun/FCF3E5"
					/>
					Bun
				</span>
				,
				<span class="glow 777BB4">
					<img class="icon" src="https://cdn.simpleicons.org/php" />
					PHP
				</span>
				,
				<span class="glow 4479A1">
					<img class="icon" src="https://cdn.simpleicons.org/mysql" />
					MySQL
				</span>
				,
				<span class="glow FFFFFF">
					<img
						class="icon"
						src="https://cdn.simpleicons.org/express"
					/>
					Express.js
				</span>
				,
				<span class="glow 4169E1">
					<img
						class="icon"
						src="https://cdn.simpleicons.org/postgresql"
					/>
					PostgreSQL
				</span>
				,
				<span class="glow 3ECF8E">
					<img
						class="icon"
						src="https://cdn.simpleicons.org/supabase"
					/>
					Supabase
				</span>
				,
				<span class="glow 00E599"
					><img class="icon" src="/svg/neon.svg" />Neon</span
				>.
			</p>

			<!-- DevOps -->
			<p>
				<strong>DevOps & Tools:</strong>
				<span class="glow 007ACC">
					<img class="icon" src="/svg/vscode.svg" />
					VS Code
				</span>
				,
				<span class="glow F05032">
					<img class="icon" src="https://cdn.simpleicons.org/git" />
					Git
				</span>
				,
				<span class="glow 4D4D4D">
					<img class="icon" src="/svg/cmd.svg" />
					CMD
				</span>
				,
				<span class="glow FFFFFF">
					<img class="icon" src="/svg/ps.svg" />
					PowerShell
				</span>
				,
				<span class="glow FFFFFF">
					<img
						class="icon"
						src="https://cdn.simpleicons.org/vercel"
					/>
					Vercel
				</span>
				,
				<span class="glow 8E75B2">
					<img
						class="icon"
						src="https://cdn.simpleicons.org/googlegemini"
					/>
					Gemini 3.0
				</span>
				,
				<span class="glow D97757">
					<img
						class="icon"
						src="https://cdn.simpleicons.org/anthropic"
					/>
					Claude 4.5
				</span>
				,
				<span class="glow 2088FF">
					<img
						class="icon"
						src="https://cdn.simpleicons.org/githubactions"
					/>
					GitHub Actions
				</span>
				, CI/CD and automation workflows.
			</p>

			<!-- Systems -->
			<p>
				<strong>Systems:</strong> Power user of
				<span class="glow 0078D6">
					<img class="icon" src="svg/windows.svg" />
					Windows
				</span>
				&VeryThinSpace;and
				<span class="glow FCC624">
					<img class="icon" src="https://cdn.simpleicons.org/linux" />
					Linux
				</span>
				(mainly
				<span class="glow 1793D1">
					<img
						class="icon"
						src="https://cdn.simpleicons.org/archlinux"
					/>
					Arch Linux
				</span>
				).
			</p>

			<h2>Where you can find me?</h2>

			<a href="https://github.com/hppsrc" target="_blank">
				<button>
					<img
						class="icon_big"
						src="https://cdn.simpleicons.org/github/FFFFFF"
					/>
					My GitHub
				</button>
			</a>

			<a href="https://x.com/hppsrc" target="_blank">
				<button>
					<img
						class="icon_big"
						src="https://cdn.simpleicons.org/X/FFFFFF"
					/>
					My Twitter
				</button>
			</a>

			<hr />

			<h2>Personal projects</h2>

			<div class="project">
				<a href="https://github.com/hppsrc/hppsrccmd" target="_blank">
					<h3>HppsrcCMD</h3>
					<p>
						Custom CMD Script Environment made on batch for Windows.
					</p>

					<div class="static F05032">
						<img
							class="icon"
							src="https://cdn.simpleicons.org/git"
						/>
						Git
					</div>

					<div class="static 0078D6">
						<img class="icon" src="svg/windows.svg" />
						Windows
					</div>

					<div class="static 4D4D4D">
						<img class="icon" src="/svg/cmd.svg" />
						CMD
					</div>
				</a>
			</div>
		</main>
	</body>
</html>
